<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <category label="32000">
    <setting id="site_lang" type="labelenum" values="ru|uk|en"
      label="32001" default="ru" />
    <setting id="content_type" type="enum" lvalues="32042|32043|32044"
      label="32041" default="1"/>
    <setting id="choose_mirrors" type="enum" lvalues="32019|32020|32021"
      label="32018" default="0"/>
    <setting id="hq_posters" type="bool"
      label="32003" default="false"/>
    <setting id="savesearch" type="bool"
      label="32015" default="true"/>
    <setting id="historylength" type="labelenum" values="5|10|15|20|25"
      label="32016" enable="eq(-1,true)" default = "10"/>
    <setting type="action"
      label="32046" action="RunScript($CWD/libs/commands.py,history)" />
  </category>
  <category label="32024">
    <setting id="itemcount" type="labelenum" values="25|50|75|100"
      label="32002" default = "25"/>
    <setting id="cache_pages" type="bool"
      label="32014" default="true"/>
    <setting type="action"
      label="32045" action="RunScript($CWD/libs/commands.py,cache)" />
  </category>
  <category label="32028">
    <setting id="authorization" type="bool"
      label="32029" default="false"/>
    <setting id="save_pass" type="bool"
      label="32030" enable="eq(-1,true)" default="false"/>
    <setting type="action"
      label="32031" action="RunScript($CWD/libs/commands.py,cookies)" />
  </category>
</settings>
