<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
video_source
    <setting type="text" id="cfduid" visible="false" enabled="false" default=""/>
    <setting label="30018" type="bool" id="use_atl_names" default="false" />
    <setting label="30010" type="labelenum" id="video_stream" lvalues="mp4|m3u8" default="mp4"/>
    <setting label="30003" type="lsep"/>
    <setting label="30011" type="labelenum" id="video_quality" lvalues="SD|HD" default="HD"/>
    <setting label="30000" type="lsep"/>
    <setting label="30012" type="select" id="movie_lang" lvalues="30013|30014|30015|30016|30017" default="0"/>
</settings>